<h1> Questions </h1>
<% if current_user.role == 'teacher' %>
  <div>
    <%= link_to 'Add Question', new_course_test_question_path(test_id: params[:test_id]), method: :post , class:'btn btn-danger'%>
  </div>
  <br>
  <br>
<% end %>
<% if @questions.empty? == false %>
  <div class='card-group'>
    <% @questions.each do |question| %>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <b>
            <li class="list-group-item"><%= question.question %></li>
          </b>
          <li class="list-group-item"><b>Option a: </b>'<%= question.option.opt1 %>'</li>
          <li class="list-group-item"><b>Option b: </b>'<%= question.option.opt2 %>'</li>
          <li class="list-group-item"><b>Option c: </b>'<%= question.option.opt3 %>'</li>
          <li class="list-group-item"><b>Option d: </b>'<%= question.option.opt4 %>'</li>
          <li class="list-group-item"><b>Answer: </b>'<%= question.answer.answer %>'</li>
        </ul>
      </div>
      <br>
    <% end %>
  </div>
<% end  %>
</table>
