<%= form_for @question, url: {action: :create} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Add a Question</h3>
  <div class="field">
    <%= f.label :question , class:'form-label'%>
    <%= f.text_field :question , class:'form-format'%>
  </div>
  <%= f.fields_for :option do |form| %>
    <div class="field">
      <%= form.label :opt1 , class:'form-label'%>
      <%= form.text_field :opt1 , class:'form-control'%>
    </div>
    <div class="field">
      <%= form.label :opt2 , class:'form-label'%>
      <%= form.text_field :opt2 , class:'form-control'%>
    </div>
    <div class="field">
      <%= form.label :opt3 , class:'form-label'%>
      <%= form.text_field :opt3 , class:'form-control'%>
    </div>
    <div class="field">
      <%= form.label :opt4 , class:'form-label'%>
      <%= form.text_field :opt4 , class:'form-control'%>
    </div>
  <% end %>
  <%= f.fields_for :answer do |form|%>
    <div class="field">
      <%= form.label :answer , class:'form-label'%>
      <%= form.text_field :answer , class:'form-control'%><br>
    </div>
  <% end %>
  <div class="actions">
    <%= link_to 'Back', { controller: 'question', action: 'index'} , class:'btn btn-primary'%>
    <%= f.submit 'Create', class:'btn btn-primary'%>
  </div>
<% end %>
