<h1> Courses </h1>
<br>
<div>
  <% if user_signed_in? && current_user.role == 'teacher' %>
    <div>
      <%= link_to 'Add Course', new_course_path , class:'btn btn-danger' %>
    </div>
    <br>
  <% end %>
  <div class='pos'>
    <%= search_form_for @q do |f| %>
      <div class='ui icon input shadow'>
        <%= f.search_field :name_or_description_i_cont, placeholder: 'Search for...', class:"prompt" %>
        <i class="search icon"></i>
      </div>
      <%# <%= f.submit  %>
    <% end %>
  </div>
  <div class="ui special cards ui four cards" style="margin-right: 75px">
    <% if Course.exists? %>
      <% @courses.each do |course| %>
        <div class="card shadow">
          <div class="blurring dimmable image" style="width: 240px ; height: 250px">
            <%# <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class='ui inverted button'>
                  </div>
                </div>
              </div>
            </div> %>
            <%# <%= image_tag(course.image)  %>
            <% if course.image.attached? %>
            <div id='banner'><%= image_tag course.image,  alt: "banner", style: "height: 250px ; width: 240px" %></div>
            <% else %>
            <div id='banner'><%= image_tag 'Dummy_flag.png',  alt: "banner", style: "height: 250px ; width: 240px" %></div>
            <% end %>
          </div>
          <div class="content back">
            <h2><%= course.name.capitalize %></h2>
            <div class="meta">
              <h5 class="date"><%= course.description %></h5>
            </div>
            <br>
            <% if user_signed_in? && current_user.role == 'student' && !current_user.accountable.courses.include?(course) %>
              <%= link_to 'Enroll', enroll_course_path(course.id), class: 'btn btn-primary' %>
            <% else %>
              <%= link_to 'Go to ' + course.name.to_s.capitalize , course_path(course_id: course.id, id: course.id), class: 'btn btn-primary'%>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
</div>