<%= form_for @course, url: {action: :create} do |f| %>   
        
        <h3>Add a Course</h3>   
  
        <div class="field">   
            <%= f.label :name %>   
              <%= f.text_field :name %>   
        </div>   
        <div class="field">   
           <%= f.label :description %>   
              <%= f.text_field :description %> 
        </div>   
         </p>   
      </div>   
      <div class="actions">   
        <%= link_to 'Back', { controller: 'courses', action: 'index'} %>   
        <%= f.submit %>   
      </div>   
  <% end %>   
</div>