<h1> <%= @course.name %></h1>
<%= link_to 'Tests', course_test_index_path(course_id: @course.id), method: :post %>
<br>
<%= link_to 'Notes', course_notes_path(course_id: @course.id), method: :post %>
<br>
<br>
<p><%= link_to 'Back', { controller: 'courses', action: 'index' }%></p>
<% if current_user.role == 'teacher' %>
  <p><%= link_to 'Edit', { controller: 'courses', action: 'edit' }%></p>
  <p><%= link_to "Delete", @course, data: { turbo_confrim: "Are You Sure", turbo_method: :delete} %></p>
<% end %>
