<h1> <%= @course.name %></h1>
<br>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">TESTS</h3>
    <p class="card-text">Click on the 'Go to Tests' to view tests in <%= @course.name %>.</p>
    <%= link_to 'Go to Tests', course_test_index_path(course_id: @course.id), method: :post , class:'btn btn-primary' %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">NOTES</h3>
    <p class="card-text">Click on the 'Go to Notes' to view notes in <%= @course.name %></p>
    <%= link_to ' Go to Notes', course_notes_path(course_id: @course.id), method: :post , class:'btn btn-primary' %>  </div>
  </div>
</div>
<br>
<div class='ui container'>
  <p><%= link_to 'Back', { controller: 'courses', action: 'index' } , class: 'btn btn-primary'  %>
    <% if current_user.role == 'teacher' %>
      <%= link_to 'Edit', { controller: 'courses', action: 'edit' } , class: 'btn btn-primary' %>
      <%= link_to "Delete", @course, data: { turbo_confrim: "Are You Sure", turbo_method: :delete} , class: 'btn btn-primary' %>
    <% else %> 
      <%= link_to 'Drop Course', drop_course_path(@course) , data: { turbo_confrim: 'Are you sure?' }, class: 'btn btn-primary' %>
    <% end %>
  </p>
</div>
